numpy==1.26.4
opencv-python==4.11.0.86
Pillow==10.4.0
psutil==6.0.0
transformers==4.44.0
torch==2.4.0
torchvision==0.19.0
huggingface_hub==0.29.1
tqdm==4.66.5
accelerate==1.4.0
einops==0.8.1
opencv-python-headless==4.11.0.86
argparse
pyvips==2.2.3
python-dotenv==1.0.1

# Web interface dependencies
gradio==5.20.0
