moondream
numpy
opencv-python
Pillow
psutil
transformers
torch
torchvision
huggingface_hub
tqdm
accelerate
einops
opencv-python-headless
argparse
pyvips

# Web interface dependencies
flask
flask-cors
werkzeug
